jupyterlite_simple_cors_proxy
sqlite3
#shiny
#pandas
#requests
cattrs<25
requests-cache
url-normalize
parse
#seaborn
sqlite_utils
typeguard==4.4.2
inflect
adjustText
#anywidget
#itables
kml2geojson
geopandas
osmnx
